<form method="get" action="http://google.com">
  <input type="hidden" name="q" value="accept payments over the Internet">

  <div class="form-group">
    <label for="sum">Sum</label>
    <input type="number" class="form-control" id="sum">
  </div>

  <button type="submit" class="btn btn-default">Pay online</button>
</form>
