<h2><%= current_student.full_name %></h2>

<br>

<%= link_to 'Edit profile', edit_student_registration_path, class: 'btn btn-success' %>

<hr>

<%= render 'invoices' if current_student.invoices.any? %>

<%= render 'payments' if current_student.payments.any? %>
