<h2>
  <%= t('devise.registrations.thank_you.title') %>
</h2>

<p class="lead"><%= t('devise.registrations.thank_you.text') %></p>

<% if @student.beginner? %>
  <p><%= t('devise.registrations.student.signed_up_and_basic_course') %></p>
<% else %>
  <p><%= t('devise.registrations.student.signed_up_and_advanced_course') %></p>
<% end %>
