<h1>¿Cómo matricular?</h1>

<p>Matricular es sencillo, simplemente llená este formulario <%= link_to "(click aquí)", auth_students_path %> y escogé tu horario. Luego hacé el depósito en cualquiera de nuestras cuentas bancarias y envíanos el comprobante a info@bellydancecr.com.</p>

<p>Otra de las formas de matricular es visitando la sede luego de haber realizando la reservación del cupo ( pre-matrícula ) y con el correo de confirmación puede recibir la clase de cortesía. Ese mismo día de la visita podés finalizar el proceso de inscripción. </p>
<p>Solo tenés que llegar 15 minutos antes de la clase que elegiste, en la sede que seleccionaste.
Recordá llegar con ropa cómoda y te recomendamos traer un pañito. </p>
<p>Nota: Ni la pre-matrícula, ni la reservación del cupo, ni la clase de cortesía tiene costo alguno. </p>
<p><strong>Te esperamos!</strong></p>

<h2>Cuentas de banco Academia</h2>
<div class="row">
  <div class="col-md-6">
    <h3>Banco Nacional</h3>
    <p><strong>Colones</strong><br/>
    Cuenta BN₡: 100-01-137-001636-3<br/>
    Cuenta cliente BN₡: 15113710010016361</p>

    <p><strong>Dólares</strong><br/>
    Cuenta Corriente BN$: 100-02-137-600935-6<br/>
    Cuenta Cliente BN$: 15113710026009357</p>
  </div>
  <div class="col-md-6">
    <h3>BAC San José</h3>
    <p><strong>Colones</strong><br/>
    Cuenta Corriente BAC₡: 924087893<br/>
    Cuenta Cliente C. BAC₡: 10200009240878934 </p>

    <p><strong>Dólares</strong><br/>
    Cuenta Corriente BAC$:  924087901 <br/>
    Cuenta Cliente C. BAC$: 10200009240879017 </p>
  </div>
  <div class="col-xs-12"
    <p>A nombre de Aidah Manaar S.A.<br/>
    Ced. Jurd.: 3-101-698973</p>
  </div>
</div>
