<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <div class="text-center">
                    <h2 class="center-title">Contrataciones</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text">Dale un toque único a tu evento con un espectáculo de belly dance del más alto nivel.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-form wow animated fadeInLeft" data-wow-delay=".2s">
                    <form role="form" id="feedbackForm" action="https://formspree.io/info@bellydancecr.com" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="name">Nombre *</label>
                                    <div>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Escribí tu nombre" />
                                    </div>
                                    <span class="help-block" style="display: none;">Por favor escribí tu nombre</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="apellidos">Apellidos *</label>
                                    <div>
                                        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Escribí tus apellidos" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor escribí tus apellidos</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="tel">Teléfono *</label>
                                    <div>
                                        <input type="text" class="form-control" id="tel" name="tel" placeholder="Ej: 88882323" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor escribí tu nombre</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="email">Correo electrónico *</label>
                                    <div>
                                        <input type="email" class="form-control" id="email" name="_replyto" placeholder="Escribí tu dirección de correo electrónico" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor escribí una dirección de correo válida</span>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="lugar">Lugar del evento *</label>
                                    <div>
                                        <input type="email" class="form-control" id="lugar" name="lugar" placeholder="¿Dónde se llevará a cabo el evento?" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor indicanos dónde se llevará a cabo el evento</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label" for="fecha">Fecha del evento *</label>
                                  <div>
                                      <input type="email" class="form-control" id="fecha" name="fecha" placeholder="¿En qué fecha se llevará a cabo el evento?" />

                                  </div>
                                  <span class="help-block" style="display: none;">Por favor indicanos dónde se llevará a cabo el evento</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="hora">Hora del evento *</label>
                                    <div>
                                        <input type="email" class="form-control" id="hora" name="hora" placeholder="¿A qué hora se llevará a cabo el evento?" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor indicanos a qué hora se llevará a cabo el evento</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label" for="tipo_de_actividad">Tipo de actividad *</label>
                                <div>
                                    <input type="email" class="form-control" id="tipo_de_actividad" name="tipo_de_actividad" placeholder="¿Qué tipo de actividad vas a realizar?" />

                                </div>
                                <span class="help-block" style="display: none;">Por favor indicanos para qué tipo de eventos querés contratarnos</span>
                              </div>
                            </div>
                          </div>

                        <input type="hidden" name="_subject" value="Mensaje desde la página" />
                        <input type="hidden" name="_next" value="/contrataciones/gracias" />
                        <input type="text" name="_gotcha" style="display:none" />
                        <button type="submit" id="feedbackSubmit" class="btn btn-dark-bg btn-lg" data-loading-text="Enviando..." style="display: block; margin-top: 10px;">Enviar</button>
                    </form>
                </div><!--contact form-->
            </div><!--col-7-->
        </div><!--row-->
    </div><!--container-->
</section><!--contact section end-->
