<h1>T&eacute;rminos y Condiciones</h1>
<p><strong>Compra en L&iacute;nea </strong></p>
<ul>
<li>
<p>El uso de esta p&aacute;gina implica su acuerdo con los t&eacute;rminos y condiciones que se establecen a continuaci&oacute;n. </p>
</li>
<li>
<p>Si no est&aacute; de acuerdo con dichos t&eacute;rminos y condiciones por favor no utilizar esta p&aacute;gina. </p>
</li>
<li>
<p>Nos reservamos el derecho de modificar, agregar y/o eliminar las condiciones total o parcialmente en cualquier momento, a nuestra discreci&oacute;n, sin necesidad de previo aviso.</p>
</li>
</ul>
<p><strong>Condiciones Generales para la adquisici&oacute;n de Productos</strong></p>
<ul>
<li>
<p>Para hacer uso de la presente modalidad de pago el interesado deber&aacute; suscribirse en el Portal. Al estar suscrito en el portal se le ofrecer&aacute; un descuento equivalente a dos mensualidades, el cual ser&aacute; aplicado en tractos mensuales. El cual va como descuento mensual. Si se retira antes del cumplimiento del a&ntilde;o ser&aacute; penalizado con el equivalente al pago de dos meses. </p>
</li>
<li>
<p>Nuestro sitio web podr&aacute; recoger informaci&oacute;n personal por ejemplo: Nombre,&nbsp;informaci&oacute;n de contacto como&nbsp;su direcci&oacute;n de correo electr&oacute;nica. As&iacute; mismo cuando sea necesario podr&aacute; ser requerida informaci&oacute;n espec&iacute;fica para procesar alg&uacute;n pedido o realizar una entrega o facturaci&oacute;n.</p>
</li>
<li>
<p>Puede comprar entradas a eventos, talleres, feria y cualquier otro servicio para la <strong>EXPO BELLYDANCE 2017</strong> a trav&eacute;s de este sitio WEB solamente mediante el pago con una tarjeta de cr&eacute;dito o d&eacute;bito vigente. El adquiriente reconoce y acepta que la tarjeta a utilizar es de su propiedad y est&aacute; vigente.</p>
</li>
<li>
<p>Puede hacer pago de mensualidades, talleres y cualquier otro servicio que ofrezca en todas sus sedes <strong>BELLYDANCE COSTA RICA ACADEMIA AIDAH MANAR</strong> a trav&eacute;s de este sitio WEB solamente mediante el pago con una tarjeta de cr&eacute;dito o d&eacute;bito vigente. El adquiriente reconoce y acepta que la tarjeta a utilizar es de su propiedad y est&aacute; vigente.</p>
</li>
<li>
<p>Las compras realizadas en este sitio web podr&aacute;n ser recolectadas en la sede <strong>BELLYDANCE COSTA RICA ACADEMIA AIDAH MANAR</strong>, ubicada en San Jos&eacute;, Goicoechea, Guadalupe, San Antonio cien metros este y cien metros sur del Hospital Hotel La Cat&oacute;lica, al menos <strong>CINCO D&Iacute;AS</strong> antes del d&iacute;a del evento, taller o cualquier otro servicio que requiera asistencia del adquiriente, o a m&aacute;s tardar que se realizar&aacute; la actividad. </p>
</li>
<li>
<p>No habr&aacute; limitaci&oacute;n alguna en cuanto a la cantidad de servicios que pueda adquirir el interesado en esta plataforma. </p>
</li>
<li>
<p>Los servicios comprados a trav&eacute;s de este sitio WEB &uacute;nicamente se reembolsar&aacute;n al adquiriente si por alg&uacute;n caso fortuito, fuerza mayor o hecho de un tercero AIDAH MANAR, S.A. no pudiera llevar a cabo la actividad del servicio programado. Por el contrario, si el adquiriente no se apersona a retirar el certificado necesario para participar del servicio en el tiempo ya estipulado o a m&aacute;s tardar el mismo d&iacute;a de la actividad, se libera a AIDAH MANAR, S.A. de cualquier responsabilidad de reembolso que pueda solicitar el usuario de la presente p&aacute;gina web. Es responsabilidad exclusiva del usuario presentarse a la hora y fecha de la actividad seleccionada por &eacute;ste. </p>
</li>
<li>
<p>AIDAH MANAR, S.A. se reserva el derecho de admisi&oacute;n a sus actividades, por lo que las personas que utilicen este medio para la compra de entradas ser&aacute;n sujetas a los mismos requisitos de admisi&oacute;n que clientes que usan el sistema normal del tipo de actividad que se realiza.</p>
</li>
<li>
<p><a name="_GoBack"></a> El adquiriente acepta y autoriza el cargo por servicio de compra en l&iacute;nea, por el monto correspondiente al plan elegido,&nbsp;por cada servicio adquirido en concepto de gasto de procesamiento al utilizar este sistema.</p>
</li>
<li>
<p>Los precios de los servicios detalladas en esta p&aacute;gina WEB incluyen los impuestos de ser aplicables, correspondientes al pa&iacute;s. </p>
</li>
<li>
<p>AIDAH MANAR, S.A. se compromete a mantener la privacidad de toda la informaci&oacute;n proporcionada por un usuario del sitio de Internet y solamente revelarla si fuese requerida por una autoridad judicial competente.</p>
</li>
</ul>
<p><strong>Restricci&oacute;n de Uso y Derechos Reservados</strong></p>
<ul>
<li>
<p>La totalidad de esta p&aacute;gina es propiedad exclusiva de AIDAH MANAR, S.A., y su contenido no puede ser copiado, reproducido, duplicado, transmitido, vendido, publicado, distribuido o explotado de ninguna manera para prop&oacute;sitos comerciales, excepto que el usuario puede bajar y guardar en la memoria de su computadora una copia para su uso y referencia personal. El uso indebido constituye violaci&oacute;n de los derechos de registro y propiedad intelectual. </p>
</li>
<li>
<p>El contenido de esta p&aacute;gina web, portal, texto, gr&aacute;ficos, logotipos, iconos, im&aacute;genes, clips de audio y software, entre otros, son propiedad exclusiva de AIDAH MANAR, S.A. y de sus proveedores. El contenido y software de este sitio puede ser utilizado como un recurso de compra y venta, y cualquier otro uso, incluyendo la reproducci&oacute;n, modificaci&oacute;n, distribuci&oacute;n, transmisi&oacute;n, despliegue o utilizaci&oacute;n del contenido de este sitio est&aacute; estrictamente prohibido.</p>
</li>
<li>
<p>Cualquier transacci&oacute;n realizada a trav&eacute;s de este sitio WEB estar&aacute; sujeta a las leyes costarricenses. Cualquier demanda o denuncia judicial deber&aacute; hacerse ante los tribunales de dicho pa&iacute;s ya que solamente ellos tienen jurisdicci&oacute;n sobre las citadas transacciones. Los usuarios de este sitio entienden dicho sometimiento y en caso de duda o confusi&oacute;n sobre el mismo, renuncian a cualquier derecho a presentar cualquier demanda, denuncia o reclamo ante otra autoridad.</p>
</li>
</ul>
<p lang="es-CR"><br /><br /></p>
<p><br /><br /></p>
