<h1><%= t('helpers.admin.new_partial_invoice_added') %></h1>

<%= link_to "Invoice ##{@invoice.id}", rails_admin.show_url(model_name: 'invoice',
                                                            id: @invoice.id) %>
