<%= render @courses %>

<div class="row">
  <div class="col-xs-12">
    <div id="calendar"></div>

    <div id="lesson_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Class</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><

    <script>
      $('#calendar').calendar({
        events_source: '<%= lessons_path(format: :json) %>',
        modal: "#lesson_modal",
        modal_type: 'ajax',
        tmpl_cache: false
      });

      $('#lesson_modal').on('show.bs.modal', function() {
        $(this).find('.modal-body').css('height', $(window).height() - 200);
      });
    </script>
  </div>
</div>
