<h1>Bienvenid@ a Belly Dance Costa Rica Academia Aidah Manaar</h1>

<p>
  Gracias por matricularte en el curso <%= @lessons.first.course.name %>.
  Estamos muy felices de que formes parte de nuestra academia.
</p>

<p>Tu primera lecci칩n ser치 completamente gratuita. Recuerda llevar ropa c칩moda.</p>

<p>Tus lecciones ser치n en la sede de <%= @lessons.first.branch.name %> y tu horario es:</p>

<ul>
  <% @lessons.sort_by { |l| [l[:day_of_week], l.start_time] }.each do |lesson| %>
    <li><%= lesson.day_of_week.capitalize %>, <%= lesson.time_interval %></li>
  <% end %>
</ul>
