<h1>Bienvenid@ a Belly Dance Costa Rica Academia Aidah Manaar</h1>

<p>Estamos muy felices de que formes parte de nuestra academia.</p>

<p>La contraseña es "<%= @password %>"!</p>

<% unless @params[:beginner] %>
  <p>
    Como ya tienes experiencia, necesitamos programar una lección para ubicarte en el nivel más
    apropiado para tí. Nos pondremos en contacto contigo via telefónica para coordinar la lección.
    Esta lección será completamente gratuita. Recuerda llevar ropa cómoda.
  </p>
<% end %>
