<h1>You have new invoice from Aidah Manaar</h1>

<ul>
  <% @invoice.items.each do |item| %>
    <li><%= item.name %> — <%= number_to_currency(item.price) %></li>
  <% end %>
  <% if @invoice.has_discount? %>
    <li>Discount — <%= number_to_currency(@invoice.discount) %></li>
  <% end %>
  <li style="list-style-type: none;">
    <hr>
  </li>
  <li>Total — <%= number_to_currency(@invoice.total) %></li>
</ul>
