$nav-bg: rgba(93, 46, 136, 0.9);
$nav-bg-variation: $morado;
$nav-color: #fff;
$nav-color-variation: lighten($morado, 80%);

.navbar-default{
  background-color: $nav-bg;
  border: 0;
  -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.62);
  box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.62);

  .navbar-brand{
    color: $nav-color;
    &:hover{
      color: $nav-color-variation;
    }
  }

  .navbar-nav{
    li{
      a{
        color:$nav-color;
        &:hover{
          color: $nav-color-variation;
          background-color:$nav-bg-variation;
          cursor: pointer;
        }
      }
    }
  }
}
