@import 'variables';
@import 'bootstrap-sprockets';
@import '_bootstrap';
@import 'bootstrap-calendar';
@import 'forms';

html{
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

.panel-body {
  p:last-child {
    margin-bottom: 0;
  }
}

.header{
  padding: 40px;
}

.footer{
  background: $morado;
  color: white;
  padding: 40px;
  margin-top: 40px;
  .social{
    font-size: 2.5em;
    li{
      a{
        color: white;
        &:hover{
          color: $naranja;
        }
      }
    }
  }
}
