.form-description {
  text-align: center;
  margin-bottom: 20px;

  p {
    font-size: 1.3em;
  }
}

span.required {
  color: #f00;
}

input.touched:required:invalid, input.touched:focus:invalid,
input.touched.invalid:required, input.touched.invalid:focus {
  border-color: #f00;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

input:required + .error-text, input:required + .error-block,
input:required + .error-text, input:required + .error-block {
  color: #f00;
}

input + .error-text, input + .error-block {
  display: none;
}

input.touched:required:invalid + .error-text, input.touched:required:invalid + .error-block,
input.touched.invalid:required + .error-text, input.touched.invalid:required + .error-block {
  display: block;
}
