
.header {
  padding: 40px;

  img {
    margin: 0 auto;
  }

}

#home-carousel{
  margin-top: -50px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  z-index: 1030;

  &.affix {
    top: 0;
    width: 100%;

    + .affix-margin {
      height: 52px;
    }
  }
}

.carousel {
  .item {
    height: 500px;
  }
}
