<p>Bienvenido a Belly Dance Costa Rica Academia Aidah Manaar <%= @email %>!</p>

<p>Puede confirmar su correo haciendo click en el siguiente link:</p>

<p><%= link_to 'Confirmar mi correo electrónico', confirmation_url(@resource, confirmation_token: @token) %></p>
