<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <h2 class="center-title"> ¿Qué nos hace diferentes?</h2>
                    <span class="center-border-line"></span>
                </div>
            </div>
        </div><!--left title row end-->
        <div class="row">
            <div class="col-sm-8 text-center col-sm-offset-2">
                <p class="lead subtitle-center wow animated fadeIn" data-wow-delay=".1s">
                    A <span class="colored-text">creative agency</span> based in <span class="colored-text">California, USA.</span> It is a long established fact that a reader will be distracted by the readable content.
                </p>
            </div>
        </div><!--sub title center-->
        <div class="row">
            <div class="col-sm-4 margin-bottom30">
                <div class="service-features wow animated fadeIn" data-wow-delay=".2s">
                    <i class="ion-ios-lightbulb-outline"></i>
                    <h3>Formación integral</h3>
                    <p>
                        Formación de bailarinas integrales en danzas del Medio Oriente tanto nivel Profesional como de hobby
                    </p>
                </div><!--service features-->
            </div>
            <div class="col-sm-4 margin-bottom30">
                <div class="service-features wow animated fadeIn" data-wow-delay=".3s">
                    <i class="ion-ios-people-outline"></i>
                    <h3>Enseñanza de la cultura</h3>
                    <p>
                        La enseñanza de la cultura de Medio Oriente mediante la danza
                    </p>
                </div><!--service features-->
            </div>
            <div class="col-sm-4 margin-bottom30">
                <div class="service-features wow animated fadeIn" data-wow-delay=".4s">
                    <i class="ion-ios-color-wand-outline"></i>
                    <h3>Pioneros</h3>
                    <p>
                        Única academia pionera especializada en las Danzas del Medio Oriente con planes estructurados y clases online.
                    </p>
                </div><!--service features-->
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--about section end-->
