<div class="fullwidthbanner" id="home">
  <div class="tp-banner">
    <ul>
      <% @slides.each do |slide| %>
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="<%= slide.image %>" data-delay="10000"  data-saveperformance="off" data-title="slider 1">
          <!-- MAIN IMAGE -->
          <img src="<%= slide.image %>"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption srcaption-bigwhite lfl ltr slider-title"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="0"
               data-speed="1000"
               data-start="100"
               data-easing="easeInOutQuad"
               data-endspeed="1000"
               data-endeasing="easeInOutQuad"
               style="z-index: 2"><%= slide.title.html_safe %>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption srcaption-miniwhite sfb slider-caption"
               data-x="center" data-hoffset="0"
               data-y="bottom" data-voffset="-140"
               data-speed="500"
               data-start="1200"
               data-easing="easeInOutQuad"
               data-endspeed="1000"
               data-endeasing="easeInOutQuad"
               style="z-index: 3"><%= slide.description %>
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption srcaption-miniwhite sfb text-light scroll-to slider-arrow-down"
               data-x="center" data-hoffset="0"
               data-y="bottom" data-voffset="-40"
               data-speed="500"
               data-start="1300"
               data-easing="easeInOutQuad"
               data-endspeed="1000"
               data-endeasing="easeInOutQuad"
               style="z-index: 3"><a href="#about" class="sr-button sr-buttonicon small-iconbutton scroll-to"><i class="ion-ios-arrow-down"></i></a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div><!--full width banner-->
