<div class="numbers-cta">
    <div class="container">
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <i class="ion-android-call"></i>
            <h3>555-454-1234</h3>
        </div>
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <i class="ion-email"></i>
            <h3>Support@bavely.com</h3>
        </div>
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <i class="ion-location"></i>
            <h3>123, street munali, California, USA</h3>
        </div>
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <i class="ion-ios-printer"></i>
            <h3>555-454-1234</h3>
        </div>
    </div>
</div>
