<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <div class="text-center">
                    <h2 class="center-title">Escribinos</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text">Para nosotros en Academia de danza Aidah Manaar, tu opinión es muy importante. Si tenés algo que decirnos o alguna duda, por favor no dudés en escribirnos, llamarnos o visitarnos</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="contact-form wow animated fadeInLeft" data-wow-delay=".2s">

                    <form role="form" id="feedbackForm" action="https://formspree.io/info@bellydancecr.com" method="POST">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="name">Nombre *</label>
                                    <div>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Escribí tu nombre" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor escribí tu nombre</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="tel">Teléfono *</label>
                                    <div>
                                        <input type="text" class="form-control" id="tel" name="tel" placeholder="Ej: 88882323" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor escribí tu nombre</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="email">Correo electrónico *</label>
                                    <div>
                                        <input type="email" class="form-control" id="email" name="_replyto" placeholder="Escribí tu dirección de correo electrónico" />

                                    </div>
                                    <span class="help-block" style="display: none;">Por favor escribí una dirección de correo válida</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="message">Mensaje *</label>
                            <div>
                                <textarea rows="5" cols="30" class="form-control" id="message" name="message" placeholder="¿Qué querés preguntarnos?" ></textarea>

                            </div>
                            <span class="help-block" style="display: none;">Por favor escribe un mensaje.</span>
                        </div>

                        <input type="hidden" name="_subject" value="Mensaje desde la página" />
                        <input type="hidden" name="_next" value="/gracias" />
                        <input type="text" name="_gotcha" style="display:none" />

                        <button type="submit" id="feedbackSubmit" class="btn btn-dark-bg btn-lg" data-loading-text="Enviando..." style="display: block; margin-top: 10px;">Enviar</button>
                    </form>
                </div><!--contact form-->
            </div><!--col-7-->
            <div class="col-sm-5">
                <h4>Visitanos</h4>
                <p>
                  <strong>Guadalupe, San José</strong>: De los Tribunales en Goicochea esquina oeste, 100 mts oeste ( calle principal ) y 125 mts al sur, contiguo Oficentro Gaia. <a href="https://www.google.com/maps/place/Belly+Dance+Costa+Rica+Academia+Aidah+Manaar/@9.997071,-84.1147527,17z/data=!3m1!4b1!4m5!3m4!1s0x8fa0fac433d6933d:0x9080fb4ac6f6c3f4!8m2!3d9.997071!4d-84.112564" target="_blank">Ver en google maps</a>
                </p>
                <p>
                  <strong>Heredia Centro</strong>: Contiguo al Pizza Hut, Calle Principal entrada a Heredia, 50mts ( al sur ) antes de llegar a la Universidad Nacional. <a href="https://maps.google.com/maps?yv=2&um=1&ie=UTF-8&fb=1&entry=s&sa=X&ftid=0x8fa0e48788db77f1:0xbabce58971c28ef9&gmm=CgIgAQ%3D%3D" target="_blank">Ver en google maps</a>
                </p>
                <p>
                  <strong>Alajuela Centro</strong>: Costado sur de la iglesia de la Agonía.
                </p>

                <br>
                <br>

                <h4>¡No dude en contactarnos!</h4>
                <p>
                  <strong>Teléfonos:</strong><br/>
                  2234-9490<br/>
                  8710-4242
                </p>
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--contact section end-->
