<div class="gray-cta">
    <div class="container text-center scroll-to">
        <h2>¿EStás lista para aprender a bailar?</h2>
        <a href="/students/sign_up" class="btn btn-lg btn-theme-bg"><%= t('cta_pre_matriculate') %></a>
        <a href="/students/sign_up" class="btn btn-lg btn-theme-bg white"><%= t('cta_como_matricular') %></a>
    </div>
</div>
