<div class="gray-cta">
    <div class="container text-center scroll-to">
        <h2>¿EStás lista para aprender a bailar?</h2>
        <a href="#" class="btn btn-lg btn-theme-bg">¡Inscribite ya!</a>
    </div>
</div>
