<div class="gray-cta">
    <div class="container text-center scroll-to">
        <h2>Dale un toque único a tu evento con un espectáculo de belly dance del más alto nivel.</h2>
        <%= link_to t('cta_contrataciones'), contrataciones_path, class: "btn btn-lg btn-theme-bg"  %>
    </div>
</div>
