<div class="gray-cta">
    <div class="container text-center scroll-to">
        <h2>¿Estás lista para aprender a bailar?</h2>
        <%= link_to t('cta_pre_matriculate'), auth_students_path, class: "btn btn-lg btn-theme-bg"  %>
    </div>
</div>
