<div class="call-to-action cta-1 parallax-3" style="background-position: 50% 86px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center wow animated fadeInDown animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">
                <h2>¿Estás lista para aprender a bailar?</h2>
                <a href="index.html" class="btn btn-white btn-lg wow animated fadeInDown animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                    <span> ¡Inscribite ahora mismo!</span>
                </a>
            </div>
        </div>
    </div>
</div>
