<footer class="footer">
  <div class="text-center">
    <ul class="list-inline social">
      <li><a href="https://www.facebook.com/BellydanceCostaRicaAcademiaAidahManaar" target="_blank" rel="noopener" rel="noreferrer"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/aidahmanaar" target="_blank" rel="noopener" rel="noreferrer"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UCoYMfa_yPtKgKk3DCDKC0gg" target="_blank" rel="noopener" rel="noreferrer"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://instagram.com/academia_aidah_manaar/" target="_blank" rel="noopener" rel="noreferrer"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://plus.google.com/+Bellydancecr/posts" target="_blank" rel="noopener" rel="noreferrer"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>

  <div class="text-center">
    <p><strong>Belly Dance Costa Rica Academia Aidah Manaar</strong></p>
    <p>Todos los derechos reservados ©<br/>
    Aidah Manaar S.A.<br/>
    3-101-698973<br/>
    Tels..: 2234-9490 o 8710-4242<br/>
    Correo: info@bellydancecr.com<br/>
    </p>
  </div>
</footer>
