<footer class="footer">
    <div class="container text-center">
        <a href="/"><%= image_tag ("logo.png") %></a>
        <ul class="list-inline socials">
            <li><a href="https://www.facebook.com/BellydanceCostaRicaAcademiaAidahManaar" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
            <li><a href="https://twitter.com/aidahmanaar" class="twit"><i class="ion-social-twitter-outline"></i></a></li>
            <li><a href="https://plus.google.com/+Bellydancecr/posts" class="g-plus"><i class="ion-social-googleplus-outline"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCoYMfa_yPtKgKk3DCDKC0gg" class="yout"><i class="ion-social-youtube-outline"></i></a></li>
            <li><a href="https://instagram.com/academia_aidah_manaar/" class="insta"><i class="ion-social-instagram-outline"></i></a></li>
        </ul>
        <p>&copy; Todos los derechos reservados. Aidah Manaar S.A. Cédula jurídica: 3-101-698973</p>
        <p><%= link_to 'Términos y condiciones', page_path('terms') %></p>
    </div>
</footer><!--footer end-->
