<footer class="footer">
  <div class="text-center">
    <p>
    Belly Dance Costa Rica Academia Aidah Manaar<br/>
    Todos los derechos reservados ©<br/>
    Aidah Manaar S.A.<br/>
    3-101-698973<br/>
    Tels..: 2234-9490 o 8710-4242<br/>
    Correo: info@bellydancecr.com<br/>
    </p>
  </div>
</footer>
