<div class=" fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="text-center wow animated flipInX" data-wow-delay=".1s">
                    <h2 class="center-title"> Fun facts</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text">Some fun facts about our agency.</p>
                </div>
            </div>
        </div><!--center title row end-->
        <div class="row">
            <div class="col-md-3 col-sm-6 margin-bottom30">
                <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".1s">
                    <h2>788</h2>
                    <h4>Happy clients</h4>
                </div>
            </div><!--fun facts col-->
            <div class="col-md-3 col-sm-6 margin-bottom30">
                <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".2s">
                    <h2>460</h2>
                    <h4>Projects Complete</h4>
                </div>
            </div><!--fun facts col-->
            <div class="col-md-3 col-sm-6 margin-bottom30">
                <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".3s">
                    <h2>978</h2>
                    <h4>miles traveled</h4>
                </div>
            </div><!--fun facts col-->
            <div class="col-md-3 col-sm-6 margin-bottom30">
                <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".4s">
                    <h2>592</h2>
                    <h4>smartphones used</h4>
                </div>
            </div><!--fun facts col-->
        </div>
    </div>
</div><!--fun facts end -->
