<nav class="navbar navbar-default" data-spy="affix">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"><%= t('views.navigation.toggle') %></span>
        <spab class="icon-bar"></spab>
        <spab class="icon-bar"></spab>
        <spab class="icon-bar"></spab>
      </button>
      <a class="navbar-brand" href="/">Aidah Manaar</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <%= render_navigation %>
    </div>
  </div>
</nav>
<div class="affix-margin"></div>
