<section id="work" class="section-padding wow animated fadeIn" data-wow-delay=".1s">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <h2 class="center-title">Portfolio</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in piece of classical Latin literature from 45 BC, it a old.</p>
                </div>
            </div>
        </div><!--center title row end-->
    </div><!--container-->
    <div class="container">


        <div id="filters-container" class="cbp-l-filters-dropdown">
            <div class="cbp-l-filters-dropdownWrap">
                <div class="cbp-l-filters-dropdownHeader">Sort Gallery</div>
                <div class="cbp-l-filters-dropdownList">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                        All (<div class="cbp-filter-counter"></div> items)
                    </div>
                    <div data-filter=".print" class="cbp-filter-item">
                        Print (<div class="cbp-filter-counter"></div> items)
                    </div>
                    <div data-filter=".web-design" class="cbp-filter-item">
                        Web Design (<div class="cbp-filter-counter"></div> items)
                    </div>
                    <div data-filter=".motion" class="cbp-filter-item">
                        Motion (<div class="cbp-filter-counter"></div> items)
                    </div>
                </div>
            </div>
        </div>

        <div id="grid-container" class="cbp">
            <div class="cbp-item print motion">
                <a href="assets/ajax/project1.html" class="cbp-caption cbp-singlePageInline"
                   data-title="World Clock Widget<br>by Paul Flavius Nechita">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-1.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">World Clock Widget</div>
                                <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design">
                <a href="assets/ajax/project2.html" class="cbp-caption cbp-singlePageInline"
                   data-title="Bolt UI<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-8.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Bolt UI</div>
                                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item print motion">
                <a href="assets/ajax/project3.html" class="cbp-caption cbp-singlePageInline"
                   data-title="WhereTO App<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-7.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">WhereTO App</div>
                                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design print">
                <a href="assets/ajax/project4.html" class="cbp-caption cbp-singlePageInline"
                   data-title="iDevices<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-6.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">iDevices</div>
                                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item motion">
                <a href="assets/ajax/project5.html" class="cbp-caption cbp-singlePageInline"
                   data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-5.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item print motion">
                <a href="assets/ajax/project6.html" class="cbp-caption cbp-singlePageInline"
                   data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-4.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Remind~Me Widget</div>
                                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design print">
                <a href="assets/ajax/project7.html" class="cbp-caption cbp-singlePageInline"
                   data-title="Workout Buddy<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-3.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Workout Buddy</div>
                                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item print">
                <a href="assets/ajax/project8.html" class="cbp-caption cbp-singlePageInline"
                   data-title="Digital Menu<br>by Cosmin Capitanu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-2.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Digital Menu</div>
                                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item motion">
                <a href="assets/ajax/project9.html" class="cbp-caption cbp-singlePageInline"
                   data-title="Holiday Selector<br>by Cosmin Capitanu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work-1.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Holiday Selector</div>
                                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div id="loadMore-container" class="cbp-l-loadMore-button">
            <a href="assets/ajax/loadMore.html" class="cbp-l-loadMore-link">
                <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
            </a>
        </div>

    </div><!--container-->
</section><!--portfolio section end here-->
