<div class="pricing-section section-padding">
    <div class="container">
        <div class="text-center">
            <h2 class="center-title"> <span class="colored-text">Price </span> Plans</h2>
            <span class="center-border-line"></span>
            <p class="sub-text">Choose a best plan for you.</p>
        </div>
        <div class="cd-pricing-container cd-has-margins">

            <div class="cd-pricing-switcher">
                <p class="fieldset">
                    <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
                    <label for="monthly-2">Monthly</label>
                    <input type="radio" name="duration-2" value="yearly" id="yearly-2">
                    <label for="yearly-2">Yearly</label>
                    <span class="cd-switch"></span>
                </p>
            </div>

            <ul class="cd-pricing-list cd-bounce-invert">
                <li>
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Basic</h2>
                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">20</span>
                                    <span class="cd-duration">mo</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>10GB Storage</li>
                                    <li>1GB Bandwidth</li>
                                    <li>512 Memory</li>
                                    <li>10 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Basic</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">200</span>
                                    <span class="cd-duration">yr</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>100GB Storage</li>
                                    <li>50GB Bandwidth</li>
                                    <li>5GB Memory</li>
                                    <li>50 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>
                    </ul>
                </li>

                <li class="cd-popular">
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Popular</h2>
                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">40</span>
                                    <span class="cd-duration">mo</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>20GB Storage</li>
                                    <li>2GB Bandwidth</li>
                                    <li>1GB Memory</li>
                                    <li>20 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select cd-btn" href="#">Purchase Now</a>
                            </footer>
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Popular</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">400</span>
                                    <span class="cd-duration">yr</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>200GB Storage</li>
                                    <li>100GB Bandwidth</li>
                                    <li>10GB Memory</li>
                                    <li>100 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select cd-btn" href="#">Purchase Now</a>
                            </footer>
                        </li>
                    </ul>
                </li>

                <li>
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Premier</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">80</span>
                                    <span class="cd-duration">mo</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>40GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>5GB Memory</li>
                                    <li>50 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Premier</h2>
                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">600</span>
                                    <span class="cd-duration">yr</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>500GB Storage</li>
                                    <li>200GB Bandwidth</li>
                                    <li>40GB Memory</li>
                                    <li>300 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div><!--price section end here-->
