<div class="newsletter">
    <div class="container">
        <div class="text-center">
            <h2 class="center-title"> Boletín de noticias</h2>
            <span class="center-border-line"></span>
            <p class="sub-text">Suscribite a nuestro boletín para manenerte al tanto de todo lo que hacemos</p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form role="form" class="form-subscribe">
                    <input type="email" name="email" placeholder="Correo electrónico" class="form-control">
                    <button type="submit" class="btn btn-lg btn-block btn-dark-bg" name="submit">Suscribirme</button>
                    <!--                            <button type="submit" class="btn btn-lg btn-block btn-dark-bg">Subscribe</button>-->
                </form>
            </div>
        </div>
    </div>
</div><!--newsletter end-->
