<div class="team">
    <div class="container">
        <div class="text-center wow animated bounceIn" data-wow-delay=".1s">
            <h2 class="center-title"> <span class="colored-text">Nuestras</span> Profesoras</h2>
            <span class="center-border-line"></span>
            <p class="sub-text">Nuestras profesoras están capacitados con el mejor nivel nacional e internacional, nuestra filosofía de enseñanza es 100% pedagógica, nuestras clases son técnicas y sumamente estructuradas, para así ayudar a las alumnas a entender de donde vienen los movimientos y así llevarlos a niveles superiores.</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- team slider -->
                <div class="ms-staff-carousel">
                    <!-- masterslider -->
                    <div class="master-slider" id="teamslider">
                      <% @instructors.each do |instructor| %>
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="<%= instructor.avatar.url(:medium) %>" alt="<%= instructor.complete_name %>"/>

                            <div class="ms-info text-center">
                                <h3><%= instructor.complete_name %></h3>
                                <h4>Company ceo</h4>
                                <p class="email">E-Mail: <a href="#"><%= instructor.email %></a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <!-- end of masterslider -->
                    <div class="ms-staff-info" id="staff-info"> </div>
                </div>
                <!-- end of team slider -->

            </div>
        </div>
    </div>
</div><!--team section end-->
