<div class="team">
    <div class="container">
        <div class="text-center wow animated bounceIn" data-wow-delay=".1s">
            <h2 class="center-title"> <span class="colored-text">Bavely</span> Team</h2>
            <span class="center-border-line"></span>
            <p class="sub-text">Meet the bavley super creative team</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- team slider -->
                <div class="ms-staff-carousel">
                    <!-- masterslider -->
                    <div class="master-slider" id="teamslider">
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="assets/images/team-1.jpg" alt="lorem ipsum dolor sit"/>

                            <div class="ms-info text-center">
                                <h3>Nikita</h3>
                                <h4>Company ceo</h4>
                                <p class="email">E-Mail: <a href="#">juliab@jourrapide.com</a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                <ul class="ms-socials list-inline">
                                    <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div><!--slide item-->
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="assets/images/team-2.jpg" alt="lorem ipsum dolor sit"/>

                            <div class="ms-info text-center">
                                <h3>John</h3>
                                <h4>Web Developer</h4>
                                <p class="email">E-Mail: <a href="#">juliab@jourrapide.com</a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                <ul class="ms-socials list-inline">
                                    <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div><!--slide item-->
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="assets/images/team-3.jpg" alt="lorem ipsum dolor sit"/>

                            <div class="ms-info text-center">
                                <h3>Maria</h3>
                                <h4>Director</h4>
                                <p class="email">E-Mail: <a href="#">juliab@jourrapide.com</a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                <ul class="ms-socials list-inline">
                                    <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div><!--slide item-->
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="assets/images/team-4.jpg" alt="lorem ipsum dolor sit"/>

                            <div class="ms-info text-center">
                                <h3>Adam</h3>
                                <h4>Project Manager</h4>
                                <p class="email">E-Mail: <a href="#">juliab@jourrapide.com</a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                <ul class="ms-socials list-inline">
                                    <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div><!--slide item-->
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="assets/images/team-1.jpg" alt="lorem ipsum dolor sit"/>

                            <div class="ms-info text-center">
                                <h3>Juliana</h3>
                                <h4>CREATIVE DESIGNER</h4>
                                <p class="email">E-Mail: <a href="#">juliab@jourrapide.com</a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                <ul class="ms-socials list-inline">
                                    <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div><!--slide item-->
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="assets/images/team-2.jpg" alt="lorem ipsum dolor sit"/>

                            <div class="ms-info text-center">
                                <h3>John</h3>
                                <h4>CREATIVE DESIGNER</h4>
                                <p class="email">E-Mail: <a href="#">juliab@jourrapide.com</a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                <ul class="ms-socials list-inline">
                                    <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div><!--slide item-->
                        <div class="ms-slide">
                            <img src="assets/master-slider/style/blank.gif" data-src="assets/images/team-3.jpg" alt="lorem ipsum dolor sit"/>

                            <div class="ms-info text-center">
                                <h3>Maria</h3>
                                <h4>CREATIVE DESIGNER</h4>
                                <p class="email">E-Mail: <a href="#">juliab@jourrapide.com</a></p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                <ul class="ms-socials list-inline">
                                    <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div><!--slide item-->
                    </div>
                    <!-- end of masterslider -->
                    <div class="ms-staff-info" id="staff-info"> </div>
                </div>
                <!-- end of team slider -->

            </div>
        </div>
    </div>
</div><!--team section end-->
