<div class="testimonials parallax-2 dark">

    <div class="container">
        <div class="text-center wow animated fadeInDown" data-wow-delay=".1s">
            <h2 class="center-title"> <span class="colored-text">¿Qué piensan nuestras </span> alumnas?</h2>
            <span class="center-border-line"></span>
            <p class="sub-text">Ya tenemos más de 200 alumnas </p>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="flexslider testi-slider wow animated fadeInUp" data-wow-delay=".2s">
                    <ul class="slides">
                      <% @testimonials.each do |testimonial| %>
                        <li>
                            <div class="testi-slider-item">
                                <p>
                                    <%= testimonial.quote %>
                                </p>
                                <%= image_tag testimonial.avatar.url(:thumb), alt: testimonial.author %>
                                <h6><%= testimonial.author %> - <span class="colored-text"><%= testimonial.job_title %></span></h6>
                            </div>
                        </li><!--Single slide li-->
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--testimonials-->
