<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <h2 class="center-title"> Bienvenidos</h2>
                    <span class="center-border-line"></span>
                </div>
            </div>
        </div><!--left title row end-->
        <div class="row">
            <div class="col-sm-8 text-center col-sm-offset-2">
                <p class="lead subtitle-center wow animated fadeIn" data-wow-delay=".1s">
                  La Danza Oriental o Danzas del Medio Oriente como se conoce, es una expresión de femineidad y arte milenaria, es una manera de conectar nuestro cuerpo con la mente y el espíritu.
                </p>
                <p class="lead subtitle-center wow animated fadeIn" data-wow-delay=".1s">En nuestra academia esa unión es uno de los pilares fundamentales. formamos bailarinas integrales, con un enfoque teórico, práctico y ritmológico para así lograr el mayor entendimiento de la danza desde sus raíces hasta las muchas fusiones que existen hoy en día.</p>
                <p>Muchos Shimmies<br/><strong>Gaia Costa Rica</strong><br/>Directora</p>
            </div>
        </div><!--sub title center-->
    </div><!--container-->
</section><!--about section end-->
