<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= yield %>

<br><br><br>

<p>Estamos para servir, cualquier consulta adicional no dude en contactarnos.</p>

<!--<img src="http://registro.bellydancecr.com/email_sign.png">-->
<img src="http://aidah-manaar.herokuapp.com/email_sign.png">
<!--<img src="http://localhost:3000/email_sign.png">-->

<p><strong>Compartiendo la magia!</strong></p>

<p>Más Información en la pag web.</p>
<p><a href="http://www.bellydancecr.com">www.bellydancecr.com</a></p>
<p>Tels.: <a href="tel:2234-9490">2234-9490</a> o <a href="tel:8710-4242">8710-4242</a>.</p>

<br>

<p>Y nos puede seguir en</p>
<p>Facebook:</p>
<p><a href="https://www.facebook.com/BellydanceCostaRicaAcademiaAidahManaar">BellydanceCostaRicaAcademiaAidahManaar</a></p>
<p>o al Twitter:</p>
<p><a href="https://twitter.com/aidahmanaar">@aidahmanaar</a>.</p>

<br>

<p>© Todos los derechos reservados</p>
<p>Aidah Manaar S.A.</p>
<p>Ced. 3-101-698973</p>
</body>
</html>
